*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: sans-serif;
}

body{
  min-height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  background: #e5e6e7;
}

.wrapper{
  max-width: 430px;
  width: 100%;
  background: #fff;
  padding: 34px;
  border-radius: 6px;
  box-shadow: 0 5px 10px rgba(0,0,0,0.2);
}
.wrapper h2{
  font-size: 22px;
  font-weight: 600;
  color: #333;
}

.wrapper form{
  margin-top: 30px;
}

.wrapper form .input-box{
  height: 52px;
  margin: 18px 0;
}
form .input-box input{
  height: 100%;
  width: 100%;
  outline: none;
  padding: 0 15px;
  font-size: 17px;
  font-weight: 400;
  color: #333;
  border: 1px solid #dedede;
  border-radius: 6px;
  transition: all 0.3s ease;
}

.input-box input:focus {
  border-color: #4070f4;
}
.input-box input:valid {
    border-color: #1aad00;
}
form .policy{
  display: flex;
}

form h3{
  color: #707070;
  font-size: 14px;
  font-weight: 500;
  margin-left: 10px;
}

.input-box.button input{
  color: #fff;
  letter-spacing: 1px;
  border: none;
  background: #35c828;
  cursor: pointer;
}
.input-box.button input:hover{
  background: #2fb123;
}
form .text h3{
 color: #333;
 width: 100%;
 text-align: center;
}